$sidebar-color: #293949;

// .container {
//     width: 100%;
//     height:100vh;
//     display: flex;
//     flex-direction: row;
//     font-family: 'Open Sans',sans-serif;
// }
// @media only screen and (max-width: 600px) {
//     // .sidebar{
//     //     display: none;
//     // }
// }
// .sidebar{
//     width: 200px;
//     background: $sidebar-color;
//     padding:4px;
//     color: rgb(169, 169, 169);
//     text-rendering: optimizeLegibility;
// }
// .content {
//    width:100%;
// }

// .categories li.selected {
//     background-color: #CFD8DC;
//     color: white;
//   }
//   .categories li.selected:hover {
//     background-color: #BBD8DC;
//     color: white;
//   }

main[role="main"] {
    margin-top: var(--header-height);
    padding: 1em;
  }
  
  @media screen and (min-width: 760px) {
  
    main[role="main"] {
        margin-left: var(--nav-large-screen0-width);
        margin-top: 0;
        padding: 1em;
    }
  }
